{
   "org.archicontribs.form": {
      "whenEmpty": "ignore",
      "buttonHeight": 25,
      "buttonExport": "Export op Excel",
      "tabs": [
         {
            "controls": [
                {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 400,
                  "y": 10,
                  "excelCellType": "string",
                  "comment": "0a",
                  "fontSize": 10,
                  "fontItalic": false,
                  "text": "Voer de eigenschappen van het begrip in.",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
				  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "x": 700,
                  "width": 800,
                  "y": 10,
                  "excelCellType": "string",
                  "comment": "0b",
                  "fontSize": 0,
                  "fontItalic": true,
                  "text": "Hulp bij de invoervelden beschikbaar via mouse-over",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },                
			   {
                  "editable": false,
                  "tooltip": "Onzichtbaar veld",
                  "forceDefault": false,
                  "excelDefault": "blank",
                  "default": "Zie properties.",
                  "forceDefault": true,
                  "fontName": "Arial",
                  "foreground": "255,225,225",
                  "background": "225,225,225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${documentation}",
                  "x": 1200,
                  "width": 10,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "1b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "2a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Voorkeursterm",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een naam is een mensleesbare term ter aanduiding van iets. \r\rMag niet leeg zijn.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${name}",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${name}",
                  "x": 130,
                  "width": 1000,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "2b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 100
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Alternatieve term",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een alternatieve term is een naam die gebruikt kan worden als alternatief voor de voorkeursterm van een object, maar niet de voorkeur heeft.\r\r Scheidingsteken: ,",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:altLabel}",
                  "x": 130,
                  "width": 1000,
                  "y": 100,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
               {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 140
                  "excelCellType": "string",
                  "comment": "4a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Definitie",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een formele definitie van het begrip.\r\rMag niet leeg worden gemaakt. ",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${documentation}",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:definition}",
                  "x": 130,
                  "width": 1000,
                  "y": 140,
                  "excelCellType": "string",
                  "comment": "4b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },             
		       {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 260
                  "excelCellType": "string",
                  "comment": "5a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Toelichting",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een toelichting is een notitie die meer duidelijkheid geeft over de betekenis of gebruik van een begrip.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:scopeNote}",
                  "x": 130,
                  "width": 1000,
                  "y": 260,
                  "excelCellType": "string",
                  "comment": "5b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },    
			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 380,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Code",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een code voor een begrip is een tekenreeks ter aanduiding van precies één begrip uit een begrippenkader.\r\r Scheidingsteken: ,",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:notation}",
                  "x": 130,
                  "width": 1000,
                  "y": 380,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
			    {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 420,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Heeft bron",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "«heeft bron» relateert een begrip aan een brondocument waarvan het is afgeleid.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:dct:source}",
                  "x": 130,
                  "width": 1000,
                  "y": 420,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 460,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Uitleg",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
				{
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "	Een uitleg is een beschrijving van iets in eenvoudige taal, op taalniveau B1, die zonder verdere context begrepen kan worden.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:rdfs:comment}",
                  "x": 130,
                  "width": 1000,
                  "y": 460,
                  "excelCellType": "string",
                  "comment": "5b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },
			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 580,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Is exact overeenkomstig",
                  "alignment": "left",
                  "class": "label",
                  "height": 40
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "«is exact overeenkomstig» relateert een begrip aan een overeenkomstig begrip uit een ander begrippenkader, \n waarbij de betekenis van deze begrippen bij uiteenlopende toepassingen gelijk aan elkaar kan worden verondersteld.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:exactMatch}",
                  "x": 130,
                  "width": 1000,
                  "y": 580,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
			   			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 620,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Is vrijwel overeenkomstig",
                  "alignment": "left",
                  "class": "label",
                  "height": 40
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "«is vrijwel overeenkomstig» relateert twee begrippen uit verschillende begrippenkaders die zoveel op elkaar lijken dat ze in sommige toepassingen door elkaar kunnen worden gebruikt voor het ophalen van informatie.\n De betekenis van deze begrippen is ongeveer gelijk aan elkaar.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:closeMatch}",
                  "x": 130,
                  "width": 1000,
                  "y": 620,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
			   			   			   {
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 660,
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Is overeenkomstig verwant",
                  "alignment": "left",
                  "class": "label",
                  "height": 40
               },
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "«is overeenkomstig verwant» relateert een begrip aan een verwant begrip uit een ander begrippenkader.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:skos:relatedMatch}",
                  "x": 130,
                  "width": 1000,
                  "y": 660,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 20
               },
		       ],
            "background": "250, 250, 250",
            "name": "NL-SBB standaard",
            "comment": "Standaard metadatakenmerken van een begrip.",
            "foreground": "0,0,0"
         },
         {
             "controls": [              
			    {
                  "tooltip": "De redactiestatus van het begrip.",
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Status",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "editable": true,
                  "values": [
                     "In bewerking",
                     "Ter redactie",
                     "Publiceren",
                     "Niet publiceren",
                  ],
                  "tooltip": "Selecteer in dropdown-box de status van het begrip.",
				  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "In bewerking",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "name": "",
                  "variable": "${property:ameff:status}",
                  "x": 130,
                  "width": 400,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3b",
                  "class": "combo",
                  "height": 20
               },
			   {
                  "tooltip": "De redactiestatus van een begrip.",
                  "foreground": "0,0,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "fontBold": true,
                  "name": "",
                  "x": 600,
                  "width": 120,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3c",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Vastgesteld op",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
				  "regexp": "^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$",
				  "editable": true,
                  "tooltip": "Datum redactiestatus is vastgesteld jjjj-mm-dd",
				  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "2025-01-01",
                  "fontName": "Arial",
                  "background":"250, 250, 250",
                  "name": "",
                  "variable": "${property:ameff:datumstatus}",
                  "x": 800,
                  "width": 400,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3d",
                  "class": "text",
                  "height": 20
               }
],
             "background":"250, 250, 250",
             "name": "Extra eigenschappen",
             "comment": "Future use",
             "foreground": "0,0,0"
         }
      ],
      "filter": {
         "tests": [
            {
               "attribute": "${class}",
               "operation": "iequals",
               "value": "Meaning"
            }
         ],
         "genre": "AND"
      },
      "buttonCancelWidth": 90,
      "spacing": 4,
      "buttonCancel": "Cancel",
      "refers": "selected",
      "buttonOkWidth": 90,
      "background": "250, 250, 250",
      "name": "Metadata voor ${class} \"${name}\"",
      "width": 1255,
      "buttonExportWidth": 120,
      "comment": "",
      "buttonOk": "Ok",
      "variableSeparator": ":",
      "height": 900
   },
   "version": 4
}
